# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/
build/
dist/
*.egg-info/
__pycache__/
examples/cifar10/data/
examples/cifar10/wandb/
